body {
  padding: 50px;
	font-family: 'Montserrat', sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

ul{
	list-style: none;
}

.title{
	text-align: center;
}


@import "variables";
@import "components";
@import "bingo";